* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #631ea4;
  --main-border-radius: 15px;
}

html {
  font-family: sans-serif;
  min-height: 100%;
  position: relative;
}

body {
  background-color: #222;
  min-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#root {
  width: 100%;
  min-height: 100%;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}